includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    level: 8
    ignoreErrors:
        - '#^Call to an undefined method Illuminate\\Support\\HigherOrderCollectionProxy\<string, Dowob\\Refiner\\[A-Za-z\\]+\|true\>\:\:name\(\)\.$#'
        # These are all errors based on array type validations, resolve these in future.
        - '#return type has no value type specified in iterable type array\.$#'
        - '#has parameter \$[A-Za-z_]+ with no value type specified in iterable type array\.$#'
        - '#\$[A-Za-z_]+ type has no value type specified in iterable type array\.$#'
        - '#^Unable to resolve the template type (TValue|TKey) in call to function collect#'
    excludePaths:
